{% extends "index.jinja2" %}

{% block extra %}
<div class="emapi_main">
<div class="emapi_bkg"></div>
<iframe class="emapi" id="emapi" type="text/html" src="{{ apilink }}" height="100%" width="100%"></iframe>
<button type="" onclick="UserAction()">Search</button>
</div>
{% endblock %}

{% block content2 %}
{% include 'analyticsAPI.jinja2' %}
{% endblock %}