{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <h1 class="site-title">{{ title }}</h1>
  <a href="/" class="dash-link">
    <span>home</span>
    <i class="fa-solid fa-diamond"></i>
  </a>
</div>
<div class="card colz">{{ general }}</div>
</div>
{% endblock %}